/* SYSTEM unit */
#ifndef _SOME_HEADER_FILE_H
#define _SOME_HEADER_FILE_H

#include <Arduino.h>
#include "pins_arduino.h"
#include "../init/global.h"

/* ----------- DEFINES ------------- */
#define SOME_DEFINE_HERE

/* ----------- NOINIT VARIABLES sections ------------- */


/* ----------- VARIABLES sections ------------- */
extern int some_variable_here;

/* ----------- FUNCTIONS section -------------- */
extern unsigned int some_function_here();

/* -- no code below this line */
#endif
/* ---END OF FILE --- */
